
<table class="zebra" cellspacing="0" cellpadding="0" border="0">
	<tr class="titulo_tabla_resultado">
	
		<td>&nbsp;</td>
		<td>&nbsp;</td>

	</tr>

<!-- TMPL_LOOP NAME=RESULTSLOOP -->
<!--  campo, subcampo, liblibrarian, dato -->

<!-- 	<tr class="<!-- TMPL_VAR NAME='clase'-->"> -->
<!-- 		<td>&nbsp;</td> -->
		<td width="5%"> 
			<!-- TMPL_VAR NAME=campo -->
		</td>
		<td width="5%"> 
			<!-- TMPL_VAR NAME=subcampo --> 
		</td>
		<td width="45%"> 
			<!-- TMPL_VAR NAME=liblibrarian --> 
		</td>
		<td width="45%"> 
			<!-- TMPL_VAR NAME=dato -->
		</td>
<!-- 		<td>&nbsp;</td> -->
	
	</tr>
<!-- /TMPL_LOOP -->
</table>



