<div class="modal-header">
     <a href="#" class="close" data-dismiss="modal">×</a>
    <h3>[% "Modificar tipo de documento:" | i18n %]</h3>
</div>

<div class="modal-body">
    <form class="form-horizontal" id="modTipoDocumento" method="post" action="[% url_prefix %]/catalogacion/tipo_documento.pl" enctype="multipart/form-data">
        <div class="control-group">
            <label class="control-label" for="liblibrarian"> [% "Nombre:" | i18n %]</label>
            <div class="controls">
                <input type="text" name="nombre" value="[% tipoDocumento.getNombre %]"/>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="liblibrarian"> [% "Foto" | i18n %]: </label>
            <div class="controls tipoDocImage">
                <img border="0" src="/uploads/covers/[% tipoDocumento.getId_tipo_doc %].png" alt="" style="">
                <input class="input-file" id="imagen" name="imagen" required type="file">
                <input type="hidden" id="tipoAccion" name="tipoAccion" value="MOD">
                <input type="hidden" id="tipoDoc" name="tipoDoc" value="[% idTipoDoc %]">
                <input type="hidden" id="id" name="id" value="[% tipoDocumento.getId %]">
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    [% PERL %]
            print C4::AR::Filtros::action_button(   
                                                button   => "btn btn-primary",
                                                action => "guardarModificacion();",
                                                title   => '[% "Guardar cambios" | i18n %]',
                                                icon    => "icon-white icon-ok",
                    ) ;
    [% END %]

</div>