<!-- TMPL_INCLUDE Name="cat-top.inc" -->
<center>
<form>
<input type="hidden" name="biblionumber" value="<!-- TMPL_VAR name="biblionumber" -->">
 T&iacute;tulo : <!-- TMPL_VAR name="title" --><br/>
 Autor : <!-- TMPL_VAR name="author" --><br/>
 Agregar a estante virtual : <!-- TMPL_VAR name="CGIbookshelves" --><br/>
<input type="submit" value="Agregar a estante virtual" class="button">
</form>
<!-- TMPL_INCLUDE Name="cat-bottom.inc" -->
