<fieldset>
    <legend class="titulo_legend_resaltado">[% 'Datos del Usuario (potencial)' | i18n %]</legend>

     <div class="_span96">
                <dl>
                      <dt id="foto"> 
                        [% IF foto_name %]  
                            <a class="fancylink" rel="group" href="/uploads/pictures/[% foto_name %]">
                                <img border="0" src="/uploads/pictures/[% foto_name %]"
                                      style="height: 60%; width: 60%; max-width: 120px; max-height: 120px;" 
                                      alt="[% socio.persona.getApellido %], [% socio.persona.getNombre %] ([% socio.getNro_socio %])"
                                      title="[% socio.persona.getApellido %], [% socio.persona.getNombre %] ([% socio.getNro_socio %])"
                                >
                            </a>
                        [% ELSE %]
                          [% IF socio.persona.sexo == 'F' %]
                               <img border="0" src="/includes/css/images/no_foto_female.gif"
                                     style="height: 120px; width: 120x;" 
                                     alt='[% "Usuario sin foto" | i18n %]'
                               >
                          [% ELSE %]
                               <img border="0" src="/includes/css/images/no_foto_male.gif"
                                     style="height: 120px; width: 120x;" 
                                     alt='[% "Usuario sin foto" | i18n %]'
                               >
                          [% END %]                        
                       [% END %]
                      </dt>
                      <dt class="inline left rightMargin">[% "Apellido:" | i18n %]</dt>
                      <dd>[% socio.persona.getApellido %] </dd>

                      <dt class="inline left rightMargin">[% "Nombre:" | i18n %]</dt>
                      <dd>[% socio.persona.getNombre %] </dd>

                      <dt class="inline left rightMargin">[% "Documento:" | i18n %]</dt>
                      <dd>[% socio.persona.getVersion_documento %]&nbsp; [% socio.persona.getNro_documento %]</dd>

                      [% IF !(socio.getNro_socio == socio.getNro_documento) %]
                          <dt class="inline left rightMargin">
                            [% "Tarjeta de identificaci&oacute;n :" | i18n %]</dt>
                          <dd><span class="label label-info">[% socio.getNro_socio %]</span></dd>
                      [% END %]

                      <dt class="inline left rightMargin">[% "Categor&iacute;a:" | i18n %] </dt>
                      <dd>[%  socio.categoria.getDescription %]</dd>
                      
                      <dt class="inline left rightMargin">[% "Estado:" | i18n %] </dt>
                      <dd><span class="label [% IF socio.esRegular %]label-success[% ELSE %]label-important[% END %]">[% socio.esRegularToString %]</span></dd>
                      
                      

                      <dt class="inline left rightMargin">[% "Credenciales" | i18n %]:</dt>
                      <dd>[% PERL %] print C4::AR::Utilidades::translateTipoCredencial('[% socio.getCredentialType %]') [% END %]</dd>
                </dl>

                    <div class="accordion" id="datos_Secundarios">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#datos_Secundarios" href="#data_user">[% "Datos secundarios" | i18n %]</a>
                             </div>
                             <div id="data_user" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <dl>
                                        <dt class="inline left rightMargin">[% "Fecha de nacimiento:" | i18n %]</dt>
                                        <dd>[% socio.persona.getNacimiento %]</dd>
                                        <dt class="inline left rightMargin">[% "Sexo:" | i18n %]</dt>
                                        <dd>[% socio.persona.getSexoPrint %]</dd>
                                        
                                        [% IF socio.persona.getTelefono %]
                                            <dt class="inline left rightMargin">[% "Tel&eacute;fono:" | i18n %]</dt>
                                            <dd>[% socio.persona.getTelefono %]</dd>  
                                        [% END %]
                                        
                                        [% IF socio.persona.getAlt_telefono %]
                                            <dt class="inline left rightMargin">[% "Tel&eacute;fono Alt:" | i18n %]</dt>
                                            <dd>[% socio.persona.getAlt_telefono %]</dd>  
                                        [% END %]
                                        
                                        [% IF socio.persona.getEmail %]
                                            <dt class="inline left rightMargin">[% "E-mail:" | i18n %]</dt>
                                            <dd><a href="mailto:[% socio.persona.getEmail %]">[% socio.persona.getEmail %]</a></dd>
                                        [% END %]
                                        
                                        <dt class="inline left rightMargin">[% "Legajo :" | i18n %]</dt>
                                        <dd>[%  socio.persona.getLegajo %]</dd>
            
                                        <dt class="inline left rightMargin">[% "Ciudad :" | i18n %]</dt>
                                        [% TRY %] 
                                            <dd>[%  socio.persona.ciudad_ref.getNombre %]</dd>
                                        [% CATCH %] 
                                            <dd class="alert alert-error clear">[% 'Ciudad inv&aacute;lida - Actualizar' | i18n %]</dd> 
                                        [% END %]
            
                                        <dt class="inline left rightMargin">[% "Calle :" | i18n %]</dt>
                                        <dd>[%  socio.persona.getCalle %]</dd>
            
                                        <dt class="inline left rightMargin">[% "ID de usuario:" | i18n %]</dt>
                                        <dd>[%  socio.nro_socio %]</dd>
            
                                        <dt class="inline left rightMargin">[% "Incorporaci&oacute;n a Biblioteca:" | i18n %]</dt>
                                        <dd>[%  socio.ui.nombre %]</dd>
                      
                                        <dt class="inline left rightMargin">[% "Instituci&oacute;n :" | i18n %]</dt>
                                        <dd>[% socio.persona.getInstitucion %]</dd>
                                        <br />          

                                        <dt class="inline left rightMargin">[% "Carrera :" | i18n %] </dt>
                                        <dd>[%  socio.persona.getCarrera %]</dd>
                                        <br />          

                                        <dt class="inline left rightMargin">[% "A&ntilde;o :" | i18n %] </dt>
                                        <dd>[%  socio.persona.getAnio %]</dd>
                                        <br />          
            
                                        <dt class="inline left rightMargin">[% "Divisi&oacute;n :" | i18n %] </dt>
                                        <dd>[%  socio.persona.getDivision %]</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    [% IF socio.tieneAutorizado %]
                        <div class="accordion" id="usuario_adicional">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#usuario_adicional" href="#user_add">[% "Usuario adicional" | i18n %]</a>
                                 </div>
                                  <div id="user_add" class="accordion-body collapse">
                                      <div class="accordion-inner">
                                         <dl>
                                             <dt class="inline left rightMargin">[% "Nombre y Apellido: " | i18n %]</dt>
                                             <dd>[% socio.getNombre_apellido_autorizado%]</dd>
            
                                             <dt class="inline left rightMargin">[% "DNI: " | i18n %]</dt>
                                             <dd>[% socio.getDni_autorizado %]</dd>
            
                                             <dt class="inline left rightMargin">[% "Tel&eacute;fono: " | i18n %]</dt>
                                             <dd>[% socio.getTelefono_autorizado %]</dd>
                                         </dl>
                                   </div>
                                 </div>
                            </div>
                         </div>
                    [% END %]
    <div class="form-actions">
        [% PERL %]
                            print C4::AR::Filtros::action_button(   
                                                                title    => "[% 'Activar Usuario' | i18n %]",
                                                                button   => "btn btn-success",
                                                                icon     => "icon-white icon-ok",
                                                                action   => 'habilitarDesdeDetalle("[% socio.getNro_socio %]");',
                                    ) ;
        [% END %]
    
        [% PERL %]
                            print C4::AR::Filtros::action_button(   
                                                                title    => "[% 'Eliminar permanentemente' | i18n %]",
                                                                button   => "btn btn-danger",
                                                                icon     => "icon-white icon-remove",
                                                                action   => 'eliminarPermanentemente("[% socio.getNro_socio %]");',
                                    ) ;
        [% END %]
    </div>
          </div>

