[% INCLUDE 'intranet-top.inc' %]
[% USE HTML %]

<script type="text/javascript" src="/intranet-tmpl/includes/ayudaMarc.js"></script>

<div id="resultAyudaMarc"> </div>
<div id="resultAyudaMarcMod" class="modal hide fade"> </div>
                
[% INCLUDE 'intranet-bottom.inc' %]