[% INCLUDE "intranet-top.inc" %]
[% USE HTML %]
[% IF add %]

	<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center" class="titulos" >
		<tr>
			<td>
		[% IF use-heading-flags-p %]
			[% IF ssheading-branches-p %]
				Unidades de Informaci&oacute;n
			[% END %]
	
			[% IF heading-branches-add-branch-p %]
				Unidades de Informaci&oacute;n: Agregar Unidad de Informaci&oacute;n
			[% END %]
	
			[% IF heading-branches-edit-branch-p %]
				Unidades de Informaci&oacute;n: Editar Unidad de Informaci&oacute;n
			[% END %]
	
			[% IF heading-branches-edit-category-p %]
				Unidades de Informaci&oacute;n: Editar Categor&iacute;a
			[% END %]
		[% ELSE %]
			[% head %]
		[% END %]
			</td>
		</tr>
		<tr>
			<td class="lineagruesa"  align="left" colspan="3"></td>
		</tr>
	</table>
	
	<form action="[% action %]" name="Aform" method="post">
	<input type="hidden" name="op" value="add_validate">
	<table>
		<tr>
			<td>C&oacute;digo de unidad de informaci&oacute;n </td>
			<td>
				[% IF branchcode %]
					<input type="hidden" name="branchcode" value="[% HTML.escape(branchcode ) %]">"
					[% branchcode %]
				[% ELSE %]
					<input type="text" name="branchcode" size="4" maxlength="4" value="[% HTML.escape(branchcode) %]">
				[% END %]
			</td>
		</tr>
		<tr>
			<td>Nombre</td>
			<td>
				<input type="text" name="branchname" size="40" maxlength="80" value="[% HTML.escape(branchname) %]">&nbsp;
			</td>
		</tr>
	
		<tr>
			<td>
				[% FOREACH categoryloop %]
					<tr>
						<td>
							[% categoryname %]
						</td>
						<td>
							<INPUT TYPE="checkbox" NAME="[% categorycode %]" [% checked %]>[% codedescription %]
						</td>
					</tr>
				[% END %]
			</td>
		</tr>
		<tr>
			<td>Direcci&oacute;n</td>
			<td>
				<input type="text" name="branchaddress1" value="[% HTML.escape(branchaddress1) %]">
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="text" name="branchaddress2" value="[% HTML.escape(branchaddress2) %]">
			</td>
		</tr>
		<tr>
			<td>Direccion Web</td>
			<td>
				<input type="text" name="branchaddress3" value="[% HTML.escape(branchaddress3) %]">
			</td>
		</tr>
		<tr>
			<td>Tel&eacute;fono</td>
			<td>
				<input type="text" name="branchphone" value="[% HTML.escape(branchphone) %]">
			</td>
		</tr>
		<tr>
			<td>Fax</td>
			<td>
				<input type="text" name="branchfax" value="[% HTML.escape(branchfax) %]">
			</td>
		</tr>
		<tr>
			<td>E-mail</td>
			<td>
				<input size=40 type="text" name="branchemail" value="[% HTML.escape(branchemail) %]">
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="hidden" name="op" value="add">
				<input type="image" alt="Guardar Cambios"  src="[% interface %]/[% themelang %]/images/guardar.png" onclick="Aform.submit">
	
			</td>
		</tr>
	</table>
	</form>
[% END %] <!-- IF ADD -->

[% IF delete_confirm %]
	Confirme borrado:
	<form action="[% action %]" method="post">
		<input type="hidden" name="op" value="delete_confirmed">
		<input type="hidden" name="branchcode" value="[% HTML.escape(branchcode) %]">
		<input type="submit" value="SI" class="button">
	</form>
	<form action="[% action %]" method="post"><input type="hidden" name="op" value="">
		<input type="submit" value="NO" class="button">
	</form>
[% ELSE %]
	<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center" class="titulos" >
		<tr>
			<td>
			[% IF use-heading-flags-p %]
				[% IF heading-branches-p %]
					Unidades de Informaci&oacute;n
				[% END %]
				[% IF heading-branches-add-branch-p %]
						Unidades de Informaci&oacute;n: Agregar Unidad de Informaci&oacute;n
				[% END %]
				[% IF heading-branches-edit-branch-p %]
						Unidades de Informaci&oacute;n: Editar Unidad de Informaci&oacute;n
				[% END %]
				[% IF heading-branches-edit-category-p %]
						Unidades de Informaci&oacute;n: Editar Categor&iacute;a
				[% END %]
			[% ELSE %]
				[% head %]
			[% END %]
			</td>
		<tr>
		<tr>
			<td class="lineagruesa"  align="left" colspan="3"></td>
		</tr>
	</table>
	<br>
	
	<font color="red">[% message %]</font>
	<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td colspan="9" align="left">
				<b>Unidades de Informaci&oacute;n</b>
			</td>
		</tr>
		<tr class="titulo_tabla_resultado">

			<th>Nombre</th>
			<th>C&oacute;digo</th>
			<th>Direcci&oacute;n</th>
			<th>Categor&iacute;as</th>
			<th>&nbsp;</th>
			<th>Editar</th>
			<th>Eliminar</th>

		</tr>
		[% FOREACH branches %]M;
			<tr valign="middle">
	
				<td  class="[% clase %]" align="left" valign="top">[% HTML.escape(branch_name) %]</td>
				<td  class="[% clase %]" align="left" valign="top">[% HTML.escape(branch_code) %]</td>
				<td  class="[% clase %]" align="left" valign="top">
					[% IF address-empty-p %]
						(no hay nada ingresado)
					[% ELSE %]
						[% IF branchaddress1 %]
							<br>[% HTML.escape(branchaddress1) %]
						[% END %]

						[% IF branchaddress2 %]
							<br>[% HTML.escape(branchaddress2) %]
						[% END %]

						[% IF branchaddress3 %]
							<br>[% HTML.escape(branchaddress3) %]
						[% END %]

						[% IF branchphone %]
							<br>Tel&eacute;fono: [% HTML.escape(branchphone) %]
						[% END %]

						[% IF sbranchfax %]
							<br>Fax: [% HTML.escape(branchfax) %]sss
						[% END %]

						[% IF branchemail %]
							<br>Email: [% HTML.escape(branchemail) %]
						[% END %]
					[% END %]
				</td>
				<td class="[% clase %]"  align="left" valign="top">
					[% IF no-categories-p %]
						(no hay categor&iacute;as seteadas)
					[% ELSE %]
						[% FOREACH category_list %]
							[% categoryname %]
							<br>
						[% END %]
					[% END %]
				</td>
				<td  class="[% clase %]" valign="middle" align="center">
					<form action="[% action %]ss" method="post" name=form1>
						<input type="hidden" name="op" value="edit">
						<input type="hidden" name="branchcode" value="[% HTML.escape(value) %]ss">
					<td  align="center" class="[% clase %]">
						<input type="hidden" name="op" value="add">
						<input type="image" ALT="Editar"  src="[% interface %]/[% theme %]/images/editar.png" onclick="form1.submit">
					</form>
					</td>
					<td  class="[% clase %]" align="center" valign="middle">
						<form action="[% action %]" method="post" name=form2>
						<input type="hidden" name="branchcode" value="[% HTML.escape(value) %]">
						<input type="hidden" name="op" value="delete"><input type="image" ALT="Eliminar"  src="[% interface %]/[% themelang %]/images/borrar.png" onclick="form2.submit">
						</form>
					</td>
		
			</tr>
		[% END %]
		<tr>
			<td class="lineafinaltabla"  align="left" colspan="9"></td>
		</tr>
	</table>
	<br>
	
	<center>
	<form action="[% action %]" method="post" name=formUni>
		<input type="hidden" name="op" value="add">
		<input type="image" alt="Agregar Nueva Unidad de Informaci&oacute;n"  src="[% interface %]/[% themelang %]/images/agregar.png" onclick="formUni.submit">
			<!--<input type="submit" class="button" value="Agregar Nueva Unidad de Informaci&oacute;n">-->
	</form>
	
	<br>
	
	<table width="100%"  border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td colspan="7" align="left">
				<b>Categor&iacute;as de Unidades de Informaci&oacute;n</b>
			</td>
		</tr>
		
		<tr class="titulo_tabla_resultado">
	
			<th>Nombre</th>
			<th>C&oacute;digo</th>
			<th>Descripci&oacute;n</th>
			<th  width="70" align="letf">Editar</th>
			<th  width="70" align="rigth">Eliminar</th>
	
		</tr>
	
		[% FOREACH branchcategories %]
			<tr>
		
				<td class="[% clase %]" align="left" valign="top">[% categoryname %]</td>
				<td class="[% clase %]" align="center" valign="top"> [%categorycode %]</td>
				<td class="[% clase %]" align="left" valign="top">[% codedescription %]</td>
				<td class="[% clase %]" align="center" valign="center">
					<form action="[% action %]" method="post" name=form3>
					<input type="hidden" name="op" value="editcategory">
					<input type="hidden" name="categorycode" value="[% HTML.escape(categorycode) %]">
					<input type="image" ALT="Editar"  src="[% interface %]/[% themelang %]/images/editar.png" onclick="form3.submit"> 
					</form>
				</td>
				<td class="[% clase %]"align="center" valign="center">
					<form action="[% action %]" method="post" name=form4>
					<input type="hidden" name="categorycode" value="[% HTML.escape(categorycode) %]">
					<input type="hidden" name="op" value="delete_category"><input type="image" ALT="Eliminar"  src="[% interface %]/[% themelang %]/images/borrar.png" onclick="form4.submit">
					</form>
				</td>
	
			</tr>
		[% END %]
	
		<tr>
			<td class="lineafinaltabla"  align="left" colspan="9"></td>
		</tr>
	
	</table>
		<br>
		
	<form name=formCat action="[% action %]" method="post">
		<input type="hidden" name="op" value="editcategory">
		<input type="image" alt="Agregar Nueva Categor&iacute;a" src="[% interface %]/[% themelang %]/images/agregar.png" onclick="formCat.submit">
			<!--<input type="submit" class="button" value="Agregar Nueva Categor&iacute;a">-->
	</form>
	
	</center>
[% END %]

[% IF editcategory %]
	<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center" class="titulos">
		<tr>
			<td>	 
				[% IF use-heading-flags-p %]
					[% IF heading-branches-p ⅜]
						Unidades de Informaci&oacute;n
					[% END %]
					[% IF heading-branches-add-branch-p %]
						Unidades de Informaci&oacute;n: Agregar Unidad de Informaci&oacute;n
					[% END %]
					[% heading-branches-edit-branch-p %]
						Unidades de Informaci&oacute;n: Editar Unidad de Informaci&oacute;n
					[% END %]
					[% IF heading-branches-edit-category-p %]
						Unidades de Informaci&oacute;n: Editar Categor&iacute;a
					[% END %]
				[% ELSE %]
					[% head %]
				[% END %]
			</td>
		</tr>
		<tr>
			<td class="lineagruesa"  align="left" colspan="3"></td>
		</tr>
	
	</table>
	<form action="[% action %]" name="Aform" method="post">
		<input type="hidden" name="op" value="addcategory_validate">
	
	
	<table border="0" cellpadding="5" cellspacing="0" >
		<tr>
			<td><b>C&oacute;digo de categor&iacute;a</b></td>
			<td>
		<!-- FIXME QUE ES ESTO??? UN IF DE UNA VARIABLE Y ELSE DE LA MISMA???????  -->
				[% IF categorycode %]
					<input type="hidden" name="categorycode" value="[% HTML.escape(categorycode) %]>
					[% HTML.escape(categorycode) %]
				[% ELSE %]
					<input class="inmputFontNormal"type="text" name="categorycode" size="5" maxlength="5" value="[% HTML.escape(categorycode) %]">
				[% END %]
			</td>
		</tr>
		<tr>
			<td>Nombre</td>
			<td><input type="text" name="categoryname" size="40" maxlength="80" value="[% HTML.escape(categorycode) %]">&nbsp;</td>
		</tr>
		<tr>
			<td >Descripci&oacute;n</td>
			<td><input type="text" name="codedescription" size="40" maxlength="80" value="[% HTML.escape(codedescription) %]">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2">
			<input type="image" alt="Guardar Cambios"  src="[% interface %]/[% themelang %]/images/guardar.png" onclick="Aform.submit">
	
			</td>					
		</tr>
	</table>
	
	</form>
[% END %]

[% IF delete_category %]
	Confirme borrado:
	<form action="[% action %]" method="post">
		<input type="hidden" name="op" value="categorydelete_confirmed">
		<input type="hidden" name="categorycode" value="[% HTML.escape(categorycode) %]">
		<input type="submit" value="SI" class="button">
	</form>
	<form action="[% action %]" method="post"><input type="hidden" name="op" value="">
		<input type="submit" value="NO" class="button">
	</form>
[% END %]

[% INCLUDE "intranet-bottom.inc" %]
