[% INCLUDE 'intranet-top.inc' %]

<script type="text/javascript" src="/intranet-tmpl/includes/logos.js"></script>

<div id="logos_ajax"></div>
<div id="logos_ajax_ui"></div>

[% INCLUDE 'intranet-bottom.inc' %]