[% USE HTML %]

<div class="modal-header">  
  <h3>[% HTML.escape(page_sub_title) %]</h3>
</div>
<div class="modal-body">
[% FOREACH categoria IN categorias %]
  <div>
 <h4>[% categoria %]</h4>
  <table style="width:100%">
  <tr>
    <th>Dato</th>
    <th>Valor</th> 
  </tr>
  [% FOREACH pair IN estadisticas_hash.$categoria.pairs %]
  <tr>
    <td>[% pair.key %]</td>
    <td>[% pair.value %]</td> 
  </tr>
    [% END %]
</table>
</div>
[% END %]
</div>