[% INCLUDE "intranet-top.inc" %]
<script type="text/javascript" charset="utf-8">
/*
 * modificarVariable
 * Hace el llamado ajax para poder modificar y mostrar la parte de modificacion de la variables seleccionada.
 */
function modificarVariable(variable,categoria){

	objAH                       = new AjaxHelper(updateModificarVariable)
	objAH.debug                 = true
    objAH.showOverlay           = true
	objAH.url                   = URL_PREFIX+"/admin/global/preferenciasDB.pl"
	objAH.variable              = variable
	objAH.categoria             = categoria
	objAH.accion                = "MODIFICAR_VARIABLE"
	objAH.sendToServer();
}

function updateModificarVariable(responseText){
    $("#divResultado").show()
	$("#divResultado").html(responseText)
}

/*
 * guardarModificacion
 * Hace el llamado ajax para poder guardar los datos ingresados para la variable.
 */
function guardarModificacion(){

	objAH               = new AjaxHelper(updateGuardarModificacion)
	objAH.debug         = true
	objAH.url           = URL_PREFIX+"/admin/global/preferenciasDB.pl"
    objAH.showOverlay   = true
	objAH.variable      = $("#variable").val()
	objAH.valor         = $("#valor").val()
    objAH.categoria     = $("#categoria").val()

	if ($("#tipoVar").val() == 'bool'){
	    objAH.valor=(getRadioButtonSelectedValue( $("[name=valor]")))
	}

	objAH.explicacion   = $("#explicacion").val()
	objAH.accion        = "GUARDAR_MODIFICACION_VARIABLE"
	objAH.sendToServer()

}

/*
 * updateGuardarModificacion
 * Funcion que se ejecuta cuando se guarda una variable. Si la variable no existe hace una busqueda para encontrar
 * todas las variables, si existe muestra un mensaje de error en la pantalla.
 */
function updateGuardarModificacion(responseText){
    actualizarTabla()
    $("#divResultado").hide()
	var Messages=JSONstring.toObject(responseText)
	setMessages(Messages)
}


$(document).ready(function() {
    actualizarTabla()
    //zebra('datos_tabla')
});

function actualizarTabla(){
    objAH               = new AjaxHelper(updateActualizarTabla)
	objAH.debug         = true
	objAH.url=URL_PREFIX+"/admin/global/preferenciasDB.pl"
    objAH.showOverlay   = true
	objAH.accion        = "ACTUALIZAR_TABLA_ESTILOS"
	objAH.sendToServer()
}

function updateActualizarTabla(responseText){
    $("#result").html(responseText)
    //zebra('datos_tabla')
}

</script>

<div id="result"></div>

[% INCLUDE "intranet-bottom.inc" %]
