[% INCLUDE "intranet-top.inc" %]

<script type="text/javascript"src="/intranet-tmpl/includes/adquisiciones/generatePedidoCotizacion.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.editable').attr('disabled', true)           
        checkSeleccionados(false)        
        $('#proveedor option').last().remove()
    });
</script>

<form id="export" method="POST" action="[% url_prefix %]/adquisiciones/exportaciones.pl?token=[% token %]" accept-charset="utf-8">
    <input type="hidden" id="proveedores" name="proveedores" value="">
    <fieldset id="datos_proveedor">
    <legend class="titulo_legend">[% "Ejemplares Recomendados para la Compra" | i18n %]</legend>
      <table id="tablaEjemplaresCompra" name="tabla" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 >
      <thead>
          <tr class="titulo_tabla_resultado">
              <th id="titulo">
                  [% "T&iacute;tulo del Libro" | i18n %]
              </th>
              <th id="cantidad">
                  [% "Cantidad de Ejemplares" | i18n %]
              </th>
              <th id="fecha_publicacion">
                  [% "Fecha de Publicaci&oacute;n" | i18n %]
              </th>    
              <th id="activo">
                  [% "Incluir en Pedido Cotizacion" | i18n %]
              </th>      
              <th id="activo">
                  [% "Acciones" | i18n %]
              </th> 
          </tr>
      </thead>
      <tbody>
            [% i = 1 %]
            [% FOREACH resultsloop %]   
             <tr align="center" 
            [% IF i % 2 == 0 %] 
                [% "class='par'" %]
            [% ELSE %]
                [% "class='impar'" %]
             >
            [% END %]
                  <td align="right" >
                      <input type="hidden" id="id_recomendacion_detalle[% i %]" name="[% recomendacion.id %]" value="[% recomendacion.id %]"> 
                      <input type="text" id="libro" name="libro[% i %]" value="[% recomendacion.titulo %]" readonly> 
                  </td>
                  <td align="right" >
                      <input type="text" id="cantidad[% recomendacion.id %]" name="cantidad[% i %]" class="editable" value="[% recomendacion.cantidad_ejemplares %]"> 
                  </td>
                  <td align="right" >
                      <input type="text"  id="fecha" name="fecha[% i %]" value="[% recomendacion.fecha_publicacion %]" readonly> 
                      <input type="hidden" name="autor[% i %]" value="[% recomendacion.autor %]"> 
                  </td>
                  <td align="right" >
                      <input type="checkbox" value="[% recomendacion.id %]" name="activo[% i %]" class="activo"> 
                  </td>
                  <td>
                        <div class="click horizontal icon_edicion">
                              [% PERL %]
                              print C4::AR::Filtros::link_to(
                                                            text =>     C4::AR::Filtros::to_Icon( boton   => "icon_edicion" ),
                                                            url=>"[% url_prefix %]/adquisiciones/recomendacionesDB.pl", 
                                                            params =>   ["href=EDITAR_RECOMENDACION", "id_recomendacion=[% recomendacion.id %]"],
                                                            title =>    "[% 'Editar Recomendacion' | i18n %]"
                                                          );
                             [% END %]
                     </div>                 
                  </td>
            </tr>  
            [% i = i + 1 %]      
            [% END %]    
            <input type="hidden" name="cantidad" value="[% i %]" />
    </tbody>   
    </table>
        [% PERL %]
            [% IF cant_recomendaciones != 0 %] 
            print C4::AR::Filtros::to_Button( 
                                                text    =>  "[% 'Exportar a PDF' | i18n %]",
                                                boton   =>  "boton_buscar",
                                                onClick =>  "submitFormPDF('export');",
                    ) ;
            print C4::AR::Filtros::to_Button( 
                                                text    =>  "[% 'Exportar a DOC' | i18n %]",
                                                boton   =>  "boton_buscar",
                                                onClick =>  "submitFormDOC('export');",
                    ) ;
            print C4::AR::Filtros::to_Button( 
                                                text    =>  "[% 'Aceptar' | i18n %]",
                                                boton   =>  "boton_buscar",
                                                onClick =>  "addPedidoCotizacion();",
                    ) ; 
            [% ELSE %]
                 print C4::AR::Filtros::setHelp(text => "[% 'No se encontraron recomendaciones activas en el sistema.' | i18n %]", );
            [% END %]                   
        [% END %]
</fieldset>
</form>


[% INCLUDE "intranet-bottom.inc" %]
