[% headers %]
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h2>[% facultad %]</h2>
<h3>[% direccion %]</h3>
<h4 align="right">ORDEN DE COMPRA Nº </h4>
<h3>[% proveedor %]</h3>
<p align="right">[% fecha %]</p>
<p>Exp. Nº  .   /   .</p>
<p>SIRVASE PROVEER A ESTA FACULTAD DE LOS ARTICULOS QUE SE DETALLAN 
Y DE ACUERDO A LA COTIZACION EFECTUADA OPORTUNAMENTE EN LICITACION Nº   CONCURSO DE PRECIOS</p>
<p>IMPUTACION: </p>
      <table class="datos_tabla" border=1 cellspacing=0 cellpadding=0 width=100%>
      <thead>
          <tr class="titulo_tabla_resultado">
              <th>
                  [% "CANT" | i18n %]
              </th>
              <th>
                  [% "ARTICULO" | i18n %]
              </th>
              <th>
                  [% "UNIT" | i18n %]
              </th>    
              <th>
                  [% "TOTAL" | i18n %]
              </th>     
          </tr>
      </thead>
      <tbody>
            [% i = 0 %]
            [% FOREACH resultsloop %]   
            <tr align="center">
                  <td align="center">
                    <p>[% orden_compra.cantidad %]</p> 
                  </td>
                  <td align="center" >
                      <p>[% orden_compra.articulo %]</p> 
                  </td>
                  <td align="center" >
                      <p>$[% orden_compra.unitario %]</p> 
                  </td>
                  <td align="center" >
                      <p>$[% orden_compra.total %]</p> 
                  </td>
            </tr> 
            [% i = i + orden_compra.total %]  
            [% END %] 
            <tr>
                <td colspan="4">
                <!-- FIXME: imprime 0 en i (el valor inicial de i) -->
                    <p>TOTAL: $[% i %]</p>
                </td>
            </tr>  
    </tbody>   
</table>
</br>
<table border="1" cellspacing="0" cellpadding="0">
    <tr>
        <td>IMPUTACION</td>
        <td>CONTROL</td>
        <td width=200>&nbsp;</td>
    </tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td width=200>&nbsp;</td> 
</table>
