[% INCLUDE 'installer-top.inc' %]

      <h1>Datos del usuario administrador</h1>
      <br />

	 <form class="form-horizontal" action="installer.pl" method="post">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="sysuser">Nombre de usuario</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="sysuser" name="sysuser" required value="[% sysuser %]">
              <p class="help-block">Nombre de usuario para conectarse con la base de datos.</p>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="sysuserpassword">Contrase&ntilde;a</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="sysuserpassword" name="sysuserpassword" required value="[% sysuserpassword %]">
              <p class="help-block">Contrase&ntilde;a del usuario adminsitrador para ingresar a Meran.</p>
            </div>
          </div>

        </fieldset>
        <input type="hidden" id="action" name="action" value="adduser">
	      <p>
	        <button type="submit" class="btn btn-large btn-primary" >Continuar</button>
	      </p>
      </form>



[% INCLUDE 'installer-bottom.inc' %]
