<div class="form-horizontal">
    <fieldset>
	     <legend>[% "Modificar c&oacute;digo de inventario:" | i18n %]</legend>
	      <div class="control-group">
	                 <h4>[% 'Formato de Inventario para ' | i18n %] [% tipo_doc %]</h4>
                     <div class="controls">
                         <input id="unique_modify_value" type="text" placeholder="[% 'SIN FORMATO' | i18n %]" value="[% value %]" onkeypress="searchKeyPress();" />
                         <input type="hidden" id="edit" name="edit" value="1" />
                      </div>
                      
                     <br />
                     <h4>[% 'Cantidad de d&iacute;gitos secuenciales' | i18n %]</h4>
                     <div class="controls">
                         <input id="digits_input" type="text" value="[% long_value %]" />
	                 </div>
	     </div>
	     
	      <div class="form-actions">
	         <button class="btn btn-primary" onclick="[% function %]" id="unique_modify_button"><i class="icon-white icon-ok"></i> [% 'Actualizar formato' | i18n %]</button>
	      </div>
    </fieldset>
</div>
