h1 {
    font-size: 23px !important;
}

.navbar-inner {
    display: none;
}

.side_bar {
    display: none;
}

.right {
    display: none;
}

.btn {
    display: none;
}

 /* FIXME */
.alert {
    display: none;
}

.portadaEdicionImage {
    display: none;

#divDisponivilidadOpac { 
    display: none;
}