[% USE HTML %]

<fieldset class="resultado_prestamos">
<legend class="titulo_legend_resaltado">[% 'Detalle de los pr&eacute;stamos actuales' | i18n %]</legend>
<script type="text/javascript">checkTr();</script>

[% IF prestamos_cant %]


      [% PERL %]
                print C4::AR::Filtros::tableHeader(   
                                  id              => "table_tablaPrestamos",
                                  class           => "",
                                  selectAll_id    => "checkAllPrestamos",
                                  columns         => ['[% "T&iacute;tulo"|i18n %]','[% "Autor"|i18n %]',
                                                      '[% "C&oacute;digo de Barras" %]','[% "Pr&eacute;stamo" %]',
                                                      '[% "Vencimiento" %]','[% "Tipo" %]'
                                                     ]
                                                                   
                                        ) ;
      [% END %]


    <tbody>
     [% FOREACH prestamo IN PRESTAMOS %]
	<tr>
	
		<td>
			 <input type="checkbox" name="chkboxPrestamos" value="[% prestamo.getId_prestamo %]" id="[% prestamo.getId_prestamo %]">
		</td>
        <td>
                <a href="[% url_prefix %]/catalogacion/estructura/detalle.pl?id1=[% prestamo.nivel3.nivel1.getId1 %]">
                    [% prestamo.nivel3.nivel1.getTitulo %]
                </a>
		</td>
        <td>
		        [% IF prestamo.nivel3.nivel1.getAutor %]
                    [% prestamo.nivel3.nivel1.getAutor %]
                [% ELSE %]
                    &nbsp;
                [% END %]
		</td>
        <td>
                <a href='[% url_prefix %]/catalogacion/estructura/detalleEjemplar.pl?id3=[% prestamo.getId3 %]' title='Detalle del Ejemplar'> 
                [% prestamo.nivel3.getBarcode %]</a>
        </td>
        <td>
			[% IF prestamo.getFecha_prestamo %] 
                [% prestamo.getFecha_prestamo_formateada %]
            [% ELSE %]
                - 
            [% END %]
		</td>
        <td>
                [% IF prestamo.getFecha_vencimiento %]
				<span class="[% IF prestamo.estaVencido %]fecha_vencida[% ELSE %]fecha_cumple[% END %]">
				[% prestamo.getFecha_vencimiento_formateada %]
				</span>
                [% ELSE %]
                    - 
                [% END %]
               	</td>
         <td>
                [% IF prestamo.tipo.id_tipo_prestamo %]
                        [% prestamo.tipo.getDescripcion %]
                [% END %]
		</td>
        	
	</tr>
     [% END %]
  </tbody>
</table>
<div class="form-actions">
             [% PERL %]
                                  print C4::AR::Filtros::action_button(
                                                                  button        => "btn btn-danger",
                                                                  icon          => "icon-white icon-share-alt",
                                                                  title         => '[% "Devolver" | i18n %]',
                                                                  action        => 'realizarAccion("DEVOLUCION","table_tablaPrestamos",generaDivDevolucion);',
                                  ) ;
              [% END %]


        [% IF algunoSeRenueva %]
              [% PERL %]
                                  print C4::AR::Filtros::action_button(
                                                                  button       => "btn btn-info",
                                                                  icon          => "icon-white icon-retweet",
                                                                  title        => '[% "Renovar" | i18n %]',
                                                                  action       => 'realizarAccion("RENOVACION","table_tablaPrestamos",generaDivRenovacion);',
                                  ) ;
              [% END %]



        [% END %]
</div>
    [% ELSE %]

        <div class="alert alert-info">[% "El usuario no tiene ejemplares asignados"| i18n %]</div>

    [% END %]
    </fieldset>

