[% INCLUDE   'intranet-top.inc'  %]

[% INCLUDE   'ChangePasswordHelper.inc'  %]

<script type="text/javascript">

function objeto_usuario(){
    this.text;
    this.ID;
}


function guardarCambiarPassword(){

    var nroRandom   = [% nroRandom %];
    var hash_actual = b64_sha256(b64_sha256(b64_md5($("#actualpassword").val()))+nroRandom);
    var key         = b64_sha256(b64_md5($("#actualpassword").val()));
    var hash_new1   = encriptar($("#newpassword1").val(),key);
    var hash_new2   = encriptar($("#newpassword2").val(),key);
    //encriptar(b64_md5($("#newpassword2").val()),key);
     
    //checkeo que las pass nuevas sean iguales
    if(desencriptar(hash_new1, key) != desencriptar(hash_new2, key))
    {
        jAlert('Por favor verifique que las nuevas passwords sean iguales');
        return false;
    }
    
            [% IF minPassLength %]
    if($("#newpassword1").val().length < [% minPassLength %])
    {
        jAlert('Por favor verifique que la nueva password contenga al menos [% minPassLength %] caracteres.');
        return false;
    }
    [% END %]
    
    [% IF minPassNumeric %]
    if (!$("#newpassword1").val().match(/([0-9]{[% minPassNumeric %],})/)) 
    {
        jAlert('Por favor verifique que la nueva password contenga al menos [% minPassNumeric %] numeros.');
        return false;
    }
    [% END %]
    
    [% IF minPassAlpha %]
    if (!$("#newpassword1").val().match(/([a-zA-Z]{[% minPassAlpha %],})/)) 
    {
        jAlert('Por favor verifique que la nueva password contenga al menos [% minPassAlpha %] letras.');
        return false;
    }
    [% END %]
    
    [% IF minPassSymbol %]
    if (!$("#newpassword1").val().match(/(\W{[% minPassSymbol %],})/)) 
    {
        jAlert('Por favor verifique que la nueva password contenga al menos [% minPassSymbol %] simbolos.');
        return false;
    }
    [% END %]
    

    $("#actual_password").val(hash_actual);
    $('#new_password1').val(hash_new1);
    $('#new_password2').val(hash_new1);
    $('#key').val(key);
    $("#datosAEnviar").submit();
    return true;
    startOverlay();
    }

$(document).ready(function() {
    
    usuario         = new objeto_usuario();
    usuario.text    = "[% completo %]";
    usuario.ID      = "[% nro_socio %]";

});

</script>

<form action="[% url_prefix %]/usuarios/change_passwordDB.pl" method="POST" name="datosAEnviar" id="datosAEnviar">
        <input type="hidden" name="new_password1" id="new_password1" value="">
        <input type="hidden" name="new_password2" id="new_password2" value="">
        <input type="hidden" name="usuario" id="usuario" value="[% nro_socio %]">
        <input type="hidden" name="changePassword" id="changePassword" value="">
        <input type="hidden" name="key" id="key" />
        <input type="hidden" name="actual_password" id="actual_password" value="">
        <input type="hidden" name="token" value="[% token %]" id="token">
</form>

[% IF cambioForzado %]

    <fieldset>
        <legend>[% 'Cambio de contrase&ntilde;a obligatorio' | i18n %]</legend>
            <div class="alert alert-error">
                [% 'Para su seguridad, es obligatorio que cambie su contrase&ntilde;a actual. Disculpe las molestas. MERAN' | i18n %]
            </div>
    </fieldset>
    
[% END %]

<fieldset>
    
    <legend class="titulo_legend">[% 'Cambio de contrase&ntilde;a' | i18n %]</legend>
      <section class="center-section-form">
       <form class="form-horizontal" onsubmit="return false;">
          
             <div class="control-group">
                           <label class="control-label" for="actualpassword">[% "Contrase&ntilde;a Actual" | i18n %]</label>
                           <div class="controls">
                                    <input type="password" autofocus class="input focused" id="actualpassword" name="actualpassword" tabindex="1">
                           </div>
              </div>
              <div class="control-group">
                           <label class="control-label" for="newpassword1">[% "Nueva Contrase&ntilde;a" | i18n %]</label>
                           <div class="controls">
                                    <input type="password" class="input focused" id="newpassword1" name="newpassword1" tabindex="2">
                           </div>
              </div>
              <div class="control-group">
                           <label class="control-label" for="newpassword2">[% "Repetir contrase&ntilde;a" | i18n %]</label>
                           <div class="controls">
                                    <input type="password" class="input focused" id="newpassword2" name="newpassword2" tabindex="2">
                           </div>
              </div>
        
              <div class="form-actions">
                  [% PERL %]
                                      print C4::AR::Filtros::action_link_button(   
                                                                          text    => "[% 'Cancelar' | i18n %]",
                                                                          button   => "btn",
                                                                          url => "[% url_prefix %]/usuarios/reales/datosUsuario.pl",
                                                                          params => ["nro_socio=[% nro_socio %]","token=[% token %]"],
                                                                          title   => "[% 'Cancelar' | i18n %]",
                                              ) ;
                  [% END %]
                      [% PERL %]
                                      print C4::AR::Filtros::to_Button(   text    => "[% 'Confirmar contrase&ntilde;a' | i18n %]",
                                                                          boton   => "boton_agregar",
                                                                          onClick => "guardarCambiarPassword();",
                                                                          title   => "[% 'Confirmar contrase&ntilde;a' | i18n %]",
                                                                          inline  => "1",
                                              ) ;
                  [% END %]
              </div>

               
        </form>
   </section>
</fieldset>

[% INCLUDE 'intranet-bottom.inc' %]
