[% INCLUDE "intranet-top.inc" %] 

<div class="form-actions"> 
    <a class="btn btn-warning" href="[% url_prefix %]/mainpage.pl">[% 'Volver a intentar' | i18n %] </a>
</div>

[% INCLUDE "intranet-bottom.inc" %]
