[% INCLUDE 'intranet-top.inc' %] 
[% USE HTML %]

<script type="text/javascript">

    var ORDEN_VTO   = 'apellido';
    var SENTIDO_ORDEN_VTO = 0;
    var ASC     = 0;

    function generarReportePrestamosVencidos(){
        objAH                   = new AjaxHelper(updateGenerarReportePrestamosVencidos);
        objAH.debug             = true;
        objAH.cache             = true;
        objAH.showOverlay       = true;
        objAH.fecha_vto_from    = $("#fecha_vto_from").val();
        objAH.fecha_vto_to      = $("#fecha_vto_to").val();
        objAH.url               = URL_PREFIX+'/reports/circulacionDB.pl';
        objAH.tipoAccion        = "REPORTE_PRESTAMOS_VENCIDOS";
        objAH.sendToServer();
    }

    function updateGenerarReportePrestamosVencidos(responseText){
        $('#reporte_prestamos_vencidos').html(responseText);
        if (ORDEN_VTO){
              cambiarSentidoOrd();
        } 
    }
</script>

[% PERL %]
    print C4::AR::Filtros::tabbedPane( titulo   => "[% 'Reportes de Circulaci&oacute;n' | i18n %]",
                             subtitulo          => "[% 'Navegue por las pesta&ntilde;as para acceder a los distintos reportes' | i18n %]",
                             content            => [  {id => 'general', text => "[% 'Operaciones' | i18n %]" },
                                                      {id => 'reservas', text=> "[% 'Reservas' | i18n %]" },
                                                      {id => 'prestamos_vencidos_tab', text=> "[% 'Pr&eacute;stamos Vencidos' | i18n %]" },     
                                                  ] ,
                             active_id => 'general',
    
    );

[% END %]
        <div class="tab-pane fade in active" id="general">
            [% INCLUDE 'partials/reportes/_reporte_circulacion_general.inc' %]
        </div>
        <div class="tab-pane fade " id="reservas">
            [% INCLUDE 'partials/reportes/_reporte_circulacion.inc' %]
        </div>
        <div class="tab-pane fade " id="prestamos_vencidos_tab">

<!--             <div class="control-group">
                <label class="control-label"> [% "Rango de Fechas" | i18n %] </label>
                <div class="controls">
                  <form class="form-horizontal" id="formReportePrestamosVencidos" action="[% url_prefix %]/reports/circulacionDB.pl">
                    <input type="hidden" name="tipoAccion" value="EXPORT_REPORTE_PRESTAMOS_VENCIDOS">
                    <input type="text" id="fecha_vto_from" name="fecha_vto_from" data-datepicker="datepicker" placeholder="[% 'Desde' | i18n %]" value="" required>
                    <input type="text" id="fecha_vto_to" name="fecha_vto_to" data-datepicker="datepicker" placeholder="[% 'Hasta' | i18n %]" value="" required>
                  </form>
                </div>
            </div> -->

            <div class="form-actions">
              [% PERL %]
                  print C4::AR::Filtros::action_button( 
                                                  button       => "btn btn-primary",
                                                  action       => "generarReportePrestamosVencidos();", 
                                                  icon         => "icon-white icon-inbox",
                                                  title        => "Generar Reporte",
                                              ) ;
              [% END %]
            </div>
            <div class="center_fieldset report_form_container" id="reporte_prestamos_vencidos"></div>
        </div>
      </div>
</section>

<div id="modal_report_long_call" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>[% 'Alerta de reporte' | i18n %]</h3>
    </div>
    <div class="modal-body">
        <p>[% 'Este reporte puede llevar un tiempo considerable. Aunque este mensaje desaparezca, espere hasta que aparezca el archivo por favor...' | i18n %]</p>
    </div>
    <div class="modal-footer">
    </div>
</div>
<div id="formulario"></form>

[% INCLUDE 'intranet-bottom.inc' %]