[% INCLUDE "opac-top.inc" %] 

<div class='alert alert-error'>
       <h3>[% mensaje %]</h3>
</div>

<div class="form-actions"> 
    <a class="btn btn-warning" href="#" onclick="history.back()">[% 'Volver a intentar' | i18n %] </a>
</div>

[% INCLUDE "opac-bottom.inc" %]
