<div id="tabs" class="modal-header">
    <a href="#" class="close" data-dismiss="modal">×</a>
    <h3>[% 'Detalle MARC' | i18n %]</h3>
</div>

  [% PERL %]
      print C4::AR::Filtros::tabbedPane( 
                                   content   => [ {id => 'detalle', text=> "[% 'Detalle' | i18n %]" },
                                                  {id => 'marc', text => "[% 'MARC' | i18n %]"},
                                                ],
                                   content_id=> ['detalle_marc_tabs'],
                                   active_id => 'marc',
                                   span       => "span5",
      
      );
  
  [% END %]
            <div class="tab-pane fade" id="detalle">
                <ul>
                [% FOREACH MARCDetail_array %]
                    [% IF info_campo_array.size > 0 %]
                        [% IF header %]
                        <li class="MARCHeader">
                            [% campo %]&nbsp;[% header %]
                        </li>
                            [% FOREACH info_campo_array %]
                                [% IF dato.remove('\s+') %]
                                    <li>
                                        [% subcampo %]&nbsp;[% liblibrarian %]: &nbsp;<b>[% dato %]</b>
                                    </li>
                                [% END %]
                            [% END %]
                        [% END %]  
                    [% END %]
                [% END %]
                </ul>               
            </div>
            <div class="tab-pane fade active in" id="marc">
              <pre>[% detalle_marc %]</pre>
            </div>

</section>

