[% USE HTML %]
[% IF HEADERS %]
    [% INCLUDE "intranet-top.inc" %]
    <!-- PARA PODER CREAR EL FORMULARIO -->
    <div id="formulario"></div>

[% END %]

<script type="text/javascript">
      $(document).ready(function() {
        $('.fancylink').fancybox();
        disableAlert();
      });
</script>
<fieldset class="resultados_busqueda">
    <legend class="titulo_legend" title='[% "click para acceder a los resultados de la b&uacute;squeda" | i18n %]'>
        [% "Resultados de la b&uacute;squeda (cat&aacute;logo)" | i18n %]:</legend>
        <div class="datos_tabla_div" id="datos_tabla_div">

        <section class="center-section-form">
            <div class="well">
                <div class="resultados_consulta">[% "Ha buscado por" | i18n %]: <strong>[% HTML.escape(buscoPor) %]</strong></div> 
            
              [% IF cantidad %]
                  <div class="resultados_consulta">[% "Total de registros" | i18n %]: <b>[% cantidad %]</b>  en ([% timeSeg %] segundos)</div>
              [% END %]

                [% IF !from_suggested %]
              [% IF suggested %]
                      <a href="#" onclick="buscarSuggested('[% suggested %]')">
                          [% "Usted quiso decir" | i18n %] <span style="font-style: italic">[% suggested %]</span>?
                      </a>
              [% END %]
          [% END %]

            </div>
        </section>    
        [% IF cantidad %]
            <div class="contenedor_paginador">[% paginador %]</div>
             [% PERL %]
                 print C4::AR::Filtros::sortableTableHeader(   
                                                         id              => "tablaResult",
                                                         class           => "table table-bordered",
                                                         columns         => ['[% "Tipo"|i18n %]','[% "T&iacute;tulo"|i18n %]','[% "Autor"|i18n %]',
                                                                             '[% "Edici&oacute;n"|i18n %]','[% "Disponibilidad"|i18n %]', [% IF signatura_filter %] '[% "Signatura"|i18n %]' [% END %],
                                                                            ],
                                                         sortable_fields          => {  'Tipo' => '',
                                                                               'T&iacute;tulo' =>'titulo', 
                                                                               'Autor' => 'autor',
                                                                               'Edici&oacute;n' => '',
                                                                               'Disponibilidad' =>'',
                                                                               [% IF signatura_filter %] 'Signatura' => '' [% END %]
                                                                             },
                                                        order => "[% orden %]",
                                                        order_direction => "[% sentido_orden %]",
                                                        order_name_function => "busqueda_catalogo"
                                                        
                                                         
                             ) ;
             [% END %]

            [% FOREACH SEARCH_RESULTS %]
                <tr>
                     <td style="width: 60px;">
                      [% IF portadas_perzonalizadas_cant > 0 %]
                             [% FOREACH portadas IN portadas_perzonalizadas %]
                               [% FOREACH portada IN portadas %]
                                [% IF loop.count < 4 %]
                                  [% FOREACH p IN portada.value %]
                                    <a class="fancylink" rel="group_[% grupo %]" href="/uploads/covers-added/[% p.image_name %]">
                                      <img alt="coverllll" src="/uploads/covers-added/[% p.image_name %]" title="Portada" />
                                   </a>
                                [% END %]
                               [% END %]
                              [% END %]
                            [% END %]
                      [% ELSIF portadas_grupo_cant > 0 %]
                             [% FOREACH portada IN portadas_grupo %]
                                 [% IF loop.count < 4 %]
                                     [% IF portada.portada_registro_big %]
                                         <a class="fancylink" rel="group_[% grupo %]" href="/uploads/covers/[% portada.portada_registro_big %]">
                                             <img alt="coverllll" src="/uploads/covers/[% portada.portada_registro %]" title="Portada" />
                                         </a>
                                     [% ELSE %]
                                       [% IF portada.portada_registro_medium %]
                                           <a class="fancylink" rel="group_[% grupo %]" href="/uploads/covers/[% portada.portada_registro_medium %]">
                                               <img alt="cover" src="/uploads/covers/[% portada.portada_registro %]" title="Portada" />
                                           </a>
                                       [% ELSE %]
                                               <img alt="cover" src="/uploads/covers/[% portada.portada_registro %]" title="Portada" />
                                       [% END %]
                                    [% END %]
                                  [% END %]
                              [% END %]
                       [% ELSE %]
                             <img src="/uploads/covers/[% cat_ref_tipo_nivel3 %].png" 
                                   alt="[% 'Sin Portada' | i18n %]"
                                   title="[% 'Sin Portada' | i18n %]" />
                       [% END %]
                         <br />
                         <center><div style="font-weight: bold; font-size: 10px; clear:both;" >[% cat_ref_tipo_nivel3_name %] </div></center>
                     </td>


                    <td [% UNLESS titulo %]style="font-weight: bold; font-size: 14px; clear:both;align:center"[% END %]>
                        [% PERL %]
                            print C4::AR::Filtros::link_to( text    =>  "[% IF titulo %][% titulo | html %][% ELSE %]REGISTRO SIN T&Iacute;TULO - Ingresar para editarlo.[% END %]",
                                                            url     =>  "[% url_prefix %]/catalogacion/estructura/detalle.pl", 
                                                            params  =>  ["id1=[% id1 %]"],
                                                            title   =>  "[% 'Mostrar Detalle del Registro' | i18n %]",
                                                            class   =>  "link_to_detail",
                                                            on_click=> "startOverlay();"

                                                        ) ;
                        [% END %]
                    </td>
            
                    <td style="width: 200px;">
                        <a class="click" onClick="buscarPorAutor('[% nomCompleto %]')" title="[% 'Filtrar por Autor' | i18n %]">
                            [% nomCompleto %]
                        </a>
                    </td>
            
                    <td style="[% IF estadoDeColeccion %] width: 200px;[% ELSE %] width: 120px; [% END %]"> 
                          [% IF estadoDeColeccion %]
                            <span id="coleccion_[% id1 %]">
                            <ul class="listado_sin_margen estado_coleccion">
                            [% FOREACH anio IN estadoDeColeccion.keys.sort %]
                            [% IF estadoDeColeccion.$anio.keys %]
                            <li>
                              [% IF anio != '#' %]<b>[% anio %]</b>[% END %]
                              [% FOREACH volumen IN estadoDeColeccion.$anio.keys.sort %]
                                [% IF volumen != '#' %][% volumen  %][% END %]
                                (
                                [% FOREACH fasciculo IN estadoDeColeccion.$anio.$volumen.keys.sort %]

                                   [% PERL %]
                                    print C4::AR::Filtros::link_to( text =>     "[% HTML.escape(fasciculo) %]",
                                                    url=>"[% url_prefix %]/catalogacion/estructura/detalle.pl", 
                                                    params =>   ["id1=[% id1 %]","id2=[% estadoDeColeccion.$anio.$volumen.$fasciculo %]"],
                                                    title =>    "[% 'Mostrar Detalle del Registro' | i18n %]",
                                                    class =>  "link_to_detail"
                                                  ) ;
                                   [% END %]
                                      
                                [% END %]
                                )
                              [% END %]
                               </li>
                            [% END %]
                            [% END %]
                            </ul>
                            </span>
                            
                            <script type="text/javascript">$("#coleccion_[% id1 %]").expander({
                              slicePoint: 2000, 
                              widow: 10,
                              expandEffect: 'fadeIn', 
                              expandText: '<i class="icon-arrow-down"></i>',
                              userCollapseText: '<i class="icon-arrow-up"></i>',
                              expandPrefix: '',
                            });
                           </script>
                           
                          [% ELSE %]
                            [% IF grupos %]
                              <span id="grupos_[% id1 %]">
                                                  <ul class="listado_sin_margen">
                                [% FOREACH grupos %]
                                                      [% valor = '' %]
                                  
                                                      [% IF edicion %]
                                    [% valor = "<b>" _  edicion  _  "</b>" %]
                                  [% END %]
                                                      
                                                      [% IF anio_publicacion %]
                                                          [% IF valor %] [% valor = valor _ " " %] [% END %]
                                    [% valor = valor  _  "(" _  anio_publicacion  _  ")" %]
                                  [% END %]
                                                      
                                                      [% IF valor %]<li> [% valor %] </li>[% END %]
                                [% END %]
                                                  </ul>
                              </span>
                            <script type="text/javascript">$("#grupos_[% id1 %]").expander({
                              slicePoint: 2000, 
                              widow: 10,
                              expandEffect: 'fadeIn', 
                              expandText: '<i class="icon-arrow-down"></i>',
                              userCollapseText: '<i class="icon-arrow-up"></i>',
                              expandPrefix: '',
                            });
                           </script>
                            [% END %]
                          [% END %]

                          [% IF cat_ref_tipo_nivel3 == "ANA"%]
                                EN: [% PERL %]
                                        print C4::AR::Filtros::link_to( text =>   "[% IF HTML.escape(titulo_registro_padre) %][% HTML.escape( titulo_registro_padre) %][% ELSE %]SIN T&Iacute;TULO[% END %]",
                                                            url     =>   "[% url_prefix %]/catalogacion/estructura/detalle.pl", 
                                                            params    =>   ["id1=[%  nivel1_padre %]"],
                                                            title     =>    "[% 'Mostrar Detalle del registro' | i18n %]",
                                                        ) ;
                                    [% END %]
                          [% END %]


                          <!-- ACA VA LO DE EDICION -->
                    </td>
            
                    <td>
                        [% FOREACH disponibilidad %]
                            <b>[% tipoPrestamo %]</b> [% cantTotal %]<br />
                               [% IF nodisponibles %][% nodisponibles %]<br />[% END %]
                               [% IF reservados %][% reservados %]<br />[% END %]
                               [% IF reservados %][% prestados %]<br />[% END %]
                        [% END %]
                    </td>   
                    [% IF signatura_filter %]
                        <td style="white-space: pre-line;">
                          [% FOREACH signatura IN signaturas %]
                              [% signatura %]
                          [% END %]
                        </td>
                    [% END %]
                </tr>
            [% END %]
            </table>
        </div>
        <div class="contenedor_paginador">[% paginador %]</div>
     [% ELSE %]
        <div class="alert alert-info">[% 'No hay resultados para el criterio de b&uacute;squeda'| i18n %]</div>
     [% END %]
</fieldset>

[% IF HEADERS %]
    [% INCLUDE "intranet-bottom.inc" %]
[% END %]
