
 <script src="/includes/jquery/ui/tabs.min.js" type="text/javascript"></script>
  <link media="screen" rel="stylesheet" href="/includes/jquery/ui/base/jquery.ui.tabs.css" type="text/css">

<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
</script>

<div class="">
	<div class="modal-header">
	                <a class="close" data-dismiss="modal">×</a>
	                <h3>[% 'Detalle MARC' | i18n %]</h3>
	</div>	

	<div class="modal-body">
		
		[% PERL %]
		    print C4::AR::Filtros::tabbedPane( titulo    => "",
		                                 subtitulo => "",
		                                 content   => [ {id => 'detalle', text=> "[% 'Detalle' | i18n %]" },
		                                                {id => 'marc', text => "[% 'MARC' | i18n %]"},
		                                              ],
		                                 content_id=> 'detalle_marc_ejemplar',
		                                 active_id => 'detalle',
		    
		    );

		[% END %]

		         <div class="tab-pane fade in active" id="detalle">
					<ul class="MARCResult">
					[% FOREACH MARCDetail_array %]

						[% IF info_campo_array.size > 0 %]
							[% IF header %]
							<li class="MARCHeader">
								[% campo %]&nbsp;[% header %]
							</li>
								[% FOREACH info_campo_array %]
									[% IF dato.remove('\s+') %]
										<li class="MARCDetalle">
											[% subcampo %]&nbsp;[% liblibrarian %]: &nbsp;<b>[% dato %]</b>
										</li>
									[% END %]
								[% END %]
							[% END %]  
						[% END %]
					[% END %]
					</ul>        </div>
		        <div class="tab-pane fade " id="marc">
		            [% detalle_marc %]
		        </div>
		       
		</section>
	</div>
</div>
