<!DOCTYPE html>
<html class="four-oh-four-page">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Full Stop — 404’d</title>
		<link rel="shortcut icon" href="/includes/css/favicon.ico">
		<link rel="stylesheet" href="/includes/css/404.css">

	</head>

	<body>

		<img src="/includes/css/404.png" alt="404" width="610" height="213">
		<a href="http://[% SERVER_ADDRESS %]">
			<span class="text">[% 'Parece que te has perdido...' | i18n %]</span>
			<span class="hover"></span>
		</a>

</body>
</html>