<div id="contenido_estante">
 
      <div class="modal-header">
            <a class="close" data-dismiss="modal" href="#">×</a>
            <h3>[% "Permisos Actuales del Usuario" | i18n %] [% socio.persona.getApeYNom %] </h3>
      </div>
      <div class="modal-body">

        <table class="span10 table-condensed table-striped table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Permisos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center" colspan="2"><h4>[% "Permisos Generales" | i18n %]</h4></td>
                </tr>
                 [% IF reportes %] 
                    <tr>
                        <td>[% "Reportes" | i18n %]</td>
                        <td>
                            [% reportes %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Preferencias" | i18n %]</td>
                        <td>
                            [% preferencias %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Permisos" | i18n %]</td>
                        <td>
                            [% permisosButton %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Adquisiciones OPAC" | i18n %]</td>
                        <td>
                            [% adq_opac %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Adquisiciones INTRA" | i18n %]</td>
                        <td>
                            [% adq_intra %]
                        </td>
                    </tr>
                [% ELSE %]
                    <tr>
                        <td colspan="2">
                        <button class="btn btn-info active ">[% "Sin Permisos" | i18n %]</button>   
                        </td>
                    </tr>    
                [% END %]
                <tr>
                    <td align="center" colspan="2"><h4>[% "Permisos de Cat&aacute;logo"  | i18n %]</h4></td>
                </tr>

                 [% IF permisos_nivel1 %] 
                    <tr>
                        <td>[% "Entorno Nivel 1" | i18n %]</td>
                        <td>
                            [% permisos_nivel1 %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Entorno Nivel 2" | i18n %]</td>
                        <td>
                            [% permisos_nivel2 %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Entorno Nivel 3" | i18n %]</td>
                        <td>
                            [% permisos_nivel3 %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Estantes Virtuales" | i18n %]</td>
                        <td>
                            [% permisos_estantes_virtuales %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Estructura Catalogaci&oacute;n Nivel 1" | i18n %]</td>
                        <td>
                            [% permisos_estructura_catalogacion_n1 %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Estructura Catalogaci&oacute;n Nivel 2" | i18n %]</td>
                        <td>
                            [% permisos_estructura_catalogacion_n2 %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Estructura Catalogaci&oacute;n Nivel 3" | i18n %]</td>
                        <td>
                            [% permisos_estructura_catalogacion_n3 %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Tablas de referencia" | i18n %]</td>
                        <td>
                            [% permisos_tablas_de_refencia %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Control de autoridades" | i18n %]</td>
                        <td>
                            [% permisos_control_de_autoridades %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Administraci&oacute;n de Usuarios" | i18n %]</td>
                        <td>
                            [% permisos_usuarios %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Administraci&oacute;n de Sistema" | i18n %]</td>
                        <td>
                            [% permisos_sistema %]
                        </td>
                    </tr>

                    <tr>
                        <td>[% "Undefined" | i18n %]</td>
                        <td>
                            [% permisos_undefined %]
                        </td>
                    </tr>

                [% ELSE %]
                    <tr>
                        <td colspan="2">
                        <button class="btn btn-info active ">[% "Sin Permisos" | i18n %]</button>   
                        </td>
                    </tr>    
                [% END %]

                <tr>
                    <td align="center" colspan="2"><h4>[% "Permisos de Circulac&iacute;on"  | i18n %]</h4></td>
                </tr>
                 [% IF prestamos %] 
                    <tr>
                        <td>[% "Prestamos" | i18n %]</td>
                        <td>
                            [% prestamos %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Reservar desde OPAC" | i18n %]</td>
                        <td>
                            [% circ_opac %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Realizar pr&eacute;stamos" | i18n %]</td>
                        <td>
                            [% circ_prestar %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Renovar pr&eacute;stamos" | i18n %]</td>
                        <td>
                            [% circ_renovar %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Devolver pr&eacute;stamos" | i18n %]</td>
                        <td>
                            [% circ_devolver %]
                        </td>
                    </tr>
                    <tr>
                        <td>[% "Sanciones" | i18n %]</td>
                        <td>
                            [% circ_sanciones %]
                        </td>
                    </tr>
                [% ELSE %]
                    <tr>
                        <td colspan="2">
                        <button class="btn btn-info active ">[% "Sin Permisos" | i18n %]</button>  
                        </td>
                    </tr>    
                [% END %]
            </tbody>
        </table>
    </div>
    <div class="modal-footer"></div>
</div>