

/* ESTILOS PARA FORMS DE VALIDACION */
/* estilo generico para todos los forms validables */
.validateDataForm label { width: 250px; }
.validateDataForm label.error, .validateDataForm input.submit { 
                                                         margin-left: 253px;
                                                         color:red;
                                                         font-weight:bold; 
                                                      }

/* estilo generico para todos los forms validables */
.validateDataForm label.error {
         margin-left: 10px;
         width: auto;
         display: block;
         color:red;
         font:bold; 
}
/*
label.error {
         margin-left: 10px;
         width: auto;
         display: inline;
         color:red;
         font:bold; 
         float:left;
}*/

