<p>Ayuda de ACERCA DE Agregar ejemplares:</p>

Para agregar m&uacute;ltiples ejmplares, puede ingresar los c&oacute;digos de barras separados por comas y sin dejar espacios.
Si encuentra que alguno de los c&oacute;digos de barras que esta intentando ingresar ya existen, el sistema el sistema no agregar&aacute; ninguno hasta que no solucione el conflicto.
