[% INCLUDE   'intranet-top.inc'  %]
<script type="text/javascript" src="/includes/jquery/jquery-highlight-min.js"></script>
<script type="text/javascript" src="/intranet-tmpl/includes/busquedasUsuarios.js"></script>
<script src="/intranet-tmpl/includes/usuarios/usuariosPotenciales.js"></script>
<script type="text/javascript">


function habilitar(){
  var checks=$("#tablaResult input[@type='checkbox']:checked");
  var array=checks.get();
  var theStatus="";
  var personNumbers=new Array();
  var cant=checks.length;
  var accion=$("#accion").val();
  if (cant>0){
    theStatus= ($("#accion").val() == "HABILITAR_PERSON")?HABILITAR_POTENCIALES_CONFIRM:DESHABILITAR_POTENCIALES_CONFIRM; 
  
    for(i=0;i<checks.length;i++){
      personNumbers[i]=array[i].value;
    }

    if (cant>0){
      bootbox.confirm(theStatus, function (ok){ 
                  if (ok)
                    actualizarPersonas(cant,personNumbers);
      }
      );
    }
  }
  else{ jAlert (NO_SE_SELECCIONO_NINGUN_USUARIO);}
} 


function actualizarPersonas(cant,arrayPersonNumbers){
  objAH=new AjaxHelper(updateInfoActualizar);
  objAH.url= URL_PREFIX+"/usuarios/potenciales/usuariosPotencialesDB.pl";
  objAH.debug= true;
  objAH.showOverlay = true;
  objAH.cantidad= cant;
  var tipoAccion = "HABILITAR_PERSON";

  try{
    if ($("#accion").val())
      tipoAccion = $("#accion").val();
    else
      fromDetail = true;
  }
  catch (e){}

  objAH.tipoAccion= tipoAccion;
  objAH.id_personas= arrayPersonNumbers;
  objAH.funcion= "changePage";
  objAH.sendToServer();
}

function updateInfoActualizar(responseText){

  var Messages=JSONstring.toObject(responseText);
  setMessages(Messages);
  
  if (!fromDetail)
    consultar('TODOS');
}


$(document).ready(function() {
    //onEnter con foco en input, ejecuta la busqueda
    onEnter("socio",consultar);
});

</script>

<fieldset>
    <legend>[% "B&uacute;squeda de Usuarios Reales" | i18n %]</legend>
   
    <section class="">

      [% PERL %]
          print C4::AR::Filtros::tabbedPane(    titulo    => "",
                                                subtitulo => "",
                                                content   => [ {id => 'labels', text=> "[% 'B&uacute;squeda general' | i18n %]" },
                                                               {id => 'registro', text => "[% 'B&uacute;squeda por inicial' | i18n %]"},
                                                              ],
                                                content_id=> ['busqueda_usuarios_reales'],
                                                active_id => 'labels',
                                            );

      [% END %]

              <div class="tab-pane fade in active" id="labels">
                   [% INCLUDE 'partials/usuarios/_busqueda_gral_usuarios_reales.inc' %]
              </div>
              <div class="tab-pane fade" id="registro">
                   [% INCLUDE 'partials/usuarios/_busqueda_inicial_usuarios_reales.inc' %]
              </div><br>
              [% PERL %]
              print C4::AR::Filtros::setHelpInput(
                                                   text =>"[% 'Navegue por las pesta&ntilde;as para acceder a los distintos tipos de b&uacute;squeda' | i18n %]",
                                                   class => "info",
                                                   icon => 'icon-info-sign',
                                                    
              );
              [% END %]
    </section>
</fieldset>

<br><br><div id="result"> </div>
    

[% INCLUDE 'intranet-bottom.inc' %]

