<div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">×</a>
    <h3>[% "Cambio de credenciales" | i18n %]</h3>
</div>

<div class="modal-body">
            <div class="control-group">
                  <label  class="control-label" for="tipo_socio_id">[% "Cambiar Perfil" | i18n %]</label>
                      [% comboDeCredenciales %]
                      <br>
                         [% PERL %]
                             print C4::AR::Filtros::action_button(
                                     title           => ' [% " Aceptar" | i18n %]',
                                     button          => 'btn btn-success',
                                     icon            => 'icon-white icon-ok',
                                     action          => 'guardarModificacionCredenciales();',
                                 );
                         [% END %]
            </div>
            <hr>
            <div class="control-group">
                  <label  class="control-label" for="tipo_socio_id">[% "Editar Credenciales Puntuales" | i18n %]</label>
                      [% PERL %]
                        print C4::AR::Filtros::action_link_button( 
                          button          => 'btn btn-primary',
                          title           => ' [% " Editar Permisos" | i18n %]',
                          button          => 'btn btn-success',
                          icon            => 'icon-white icon-ok',
                          url =>       "[% url_prefix %]/admin/permisos/permisos.pl?nro_socio=[% nro_socio %]",
                          icon  =>    "icon-pencil",
                          alt_text => "[% 'Editar Permisos' | i18n %]"
                          );
                      [% END %]
            </div>

</div>

<div class="modal-footer">
</div>
