<div class="filtros_reportes">

  <section class="center-section-form"> 
    <form class="form-horizontal" name="filtros_reportes" id="filtros_reportes" action="[% url_prefix %]/usuarios/reales/users-cardsResult.pl" >
      <input type="hidden" name="tipoAccion" value="EXPORTAR_USUARIOS">
      <fieldset>
        <div class="control-group">
                  <label class="control-label" for="apellido">[% "Apellido" | i18n %]</label>
                  <div class="controls">
                        <input type='text' id='surname1' placeholder="[% 'Desde' | i18n %]" name='surname1' value='[% surname1 %]'>
                        <input type='text' id='surname2' placeholder="[% 'Hasta' | i18n %]" name='surname2' value='[% surname2 %]'>
                    
                  </div>
        </div>
        <div class="control-group">
                  <label class="control-label" for="dni">[% "DNI" | i18n %]</label>
                  <div class="controls">
                        <input type='text' id='dni' name='dni' value='[% dni %]'>
                  </div>
        </div>
        <div class="control-group">
                  <label class="control-label" for="legajo">[% "Legajo" | i18n %]</label>
                  <div class="controls">
                        <input type='text' id='legajo1' placeholder="[% 'Desde' | i18n %]" name='legajo1' value='[% legajo1 %]'>
                        <input type='text' id='legajo2' placeholder="[% 'Hasta' | i18n %]" name='legajo2' value='[% legajo2 %]'>
                  </div>
        </div>

        <div class="control-group">
            <label class="control-label"> [% "Fecha de último acceso" | i18n %] </label>
            <div class="controls">
                <input type="text" id="from_last_login" name="from_last_login" data-datepicker="datepicker" placeholder="[% 'Desde' | i18n %]" value="" required>
                <input type="text" id="to_last_login" name="to_last_login" data-datepicker="datepicker" placeholder="[% 'Hasta' | i18n %]" value="" required>
            </div>
        </div>

         <div class="control-group">
            <label class="control-label"> [% "Fecha de activación" | i18n %] </label>
            <div class="controls">
                <input type="text" id="from_alta" name="from_alta" data-datepicker="datepicker" placeholder="[% 'Desde' | i18n %]" value="" required>
                <input type="text" id="to_alta" name="to_alta" data-datepicker="datepicker" placeholder="[% 'Hasta' | i18n %]" value="" required>
                  [% PERL %]
                      print C4::AR::Filtros::setHelpInput(
                                                          text =>"[% "Fecha de activación en el Sistema" | i18n %]",
                                                            
                      );
                  [% END %]                
            </div>
        </div>

         <div class="control-group">
            <label class="control-label"> [% "Fecha de alta" | i18n %] </label>
            <div class="controls">
                <input type="text" id="from_alta_persona" name="from_alta_persona" data-datepicker="datepicker" placeholder="[% 'Desde' | i18n %]" value="" required>
                <input type="text" id="to_alta_persona" name="to_alta_persona" data-datepicker="datepicker" placeholder="[% 'Hasta' | i18n %]" value="" required>
                    [% PERL %]
                      print C4::AR::Filtros::setHelpInput(
                                                          text =>"[% "Fecha de alta en el Sistema" | i18n %]",
                                                            
                      );
                  [% END %]
            </div>
        </div>

        <div class="control-group">
                  <label class="control-label" for="UI">[% "Unidad de Informaci&oacute;n" | i18n %]</label>
                  <div class="controls">
                          [% unidades %]
                  </div>
        </div>
        <div class="control-group">
                  <label class="control-label" for="regulares">[% "Categoria" | i18n %]</label>
                  <div class="controls">
                          [% categories %]
                  </div>
        </div>
        <div class="control-group">
                  <label class="control-label" for="regulares">[% "Regularidad" | i18n %]*</label>
                  <div class="controls">
                          [% regulares %]
                  </div>
        </div>

        <div class="form-actions">

          
                    <script> var search = 'search'; </script>
              
                    [% PERL %]
                            print C4::AR::Filtros::action_button( 
                                                            button       => "btn btn-primary click",
                                                            action       => "consultar(search);", 
                                                            icon         => "icon-white icon-inbox",
                                                            title        => "[% 'Generar Reporte' | i18n %]",
                                                        ) ;
                    [% END %]
                
        </div>


    </fieldset>
    </section>
  </form>
</div>
<div id="result"></div>

<!-- Formulario para poder crear el pdf -->
<div id="formulario">
</div>




