# m h  dom mon dow   command
0 7 * * *      export MERAN_CONF=/etc/meran/meran.conf; cd /usr/share/meran/intranet/modules/ ; perl ../cgi-bin/cron/recordatorio_prestamos_vto.pl 2>&1
* * * * *       export MERAN_CONF=/etc/meran/meran.conf; cd /usr/share/meran/intranet/modules/ ; perl ../cgi-bin/cron/procesarColaZ3950.pl  2>&1
* * * * *       export MERAN_CONF=/etc/meran/meran.conf; cd /usr/share/meran/intranet/modules/ ; perl ../cgi-bin/cron/reindexar.pl 2>&1
0 0 * * *       export MERAN_CONF=/etc/meran/meran.conf; cd /usr/share/meran/intranet/modules/ ; perl ../cgi-bin/cron/obtener_portadas_de_registros.pl  2>&1
0 * * * * export MERAN_CONF=/etc/meran/meran.conf; cd /usr/share/meran/intranet/modules/ ; perl ../cgi-bin/cron/mail_prestamos_vencidos.pl  2>&1

#0 * * * * /usr/lib/cgi-bin/awstats.pl -config=catalog.[BIBLIOTECA].unlp.edu.ar -update
#0 0 * * 6      export MERAN_CONF=/etc/meran/meran.conf; cd /usr/share/meran/intranet/modules/ ; perl ../cgi-bin/cron/generar_indice.pl  2>&1

